@page "/";
@using Newtonsoft.Json;
@using StiQr_SIMTEL.Client.Models;
@using System.IdentityModel.Tokens.Jwt;
@inject NavigationManager NavManager;
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="spinner-border" style="width: 5rem; height: 5rem; color:#144883; " role="status" />
</div>
@code {
    protected async override Task OnInitializedAsync()
    {
        string userDetails = await SecureStorage.GetAsync(nameof(Setting.UserBasicDetail));

        if (!string.IsNullOrWhiteSpace(userDetails))
        {
            var userBasicDetail = JsonConvert.DeserializeObject<UserBasicDetail>(userDetails);
            var handler = new JwtSecurityTokenHandler();
            var jsonToken = handler.ReadToken(userBasicDetail.Token) as JwtSecurityToken;
            if (jsonToken.ValidTo < DateTime.UtcNow)
            {
                NavManager.NavigateTo("/LoginPage");
            }
            else
            {
                Setting.UserBasicDetail = userBasicDetail;
                NavManager.NavigateTo("/dashboard");
            }
        }
        else
        {
            NavManager.NavigateTo("/LoginPage");
        }
    }
}
