.login {
    /*background-color: black;*/
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center;
    z-index: 3;
}
.logo {
    text-align: center;
}
.imageContainer {

    max-width: 200px; /* Ancho máximo del contenedor */
    margin: 0 auto;

}
    .imageContainer img {
        max-width: 100%; /* Hace que la imagen sea responsive */
        height: auto; /* Mantiene la relación de aspecto original de la imagen */
    }
.imgbackground {
    /*background-size: cover;*/
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 0;
}
.textContainer {
    color: whitesmoke;
    text-shadow: 1px 1px 2px black;
}
    .textContainer .title {
        font-size: 28px;
    }
    .textContainer .subtitle {
        font-size: 20px;
    }


a {
    text-decoration: none;
    color: inherit;
}
.passwordLose {
    font-size: 14px;
    text-align: right;
    font-weight: bold;
    color: #EA4335;
    padding-bottom:20px;
}
.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
    color:whitesmoke;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

a {
    text-decoration: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.sign-up {
    text-align: center;
    margin-top: 10px;
    color: #616161;
}
    .sign-up a {

        color: whitesmoke;
    }
