@page "/forgotPassPage"

<img class="imgbackground" src="/img/background.png" alt="background" />
<div class="login">
    <div>
        <div class="textContainer">
         
            <p class="subtitle">Olvidaste tu contraseña?</p>
        </div>
        <div class="formContainer">

            <form>
                <div class="form-group">
                    <label for="email">Ingresa tu Email</label>
                    <input type="email" id="email" name="email" required />
                </div>

                <button type="submit">Recuperar</button>
            </form>
        </div>

    </div>
       
</div>
    

@code {

}
